<dialog id="createFolderDialog" class="dialogPopup">
  <h2>Create folder</h2>

  <% if (currentUser) { %>
  <form action="createfolder" method="post" class="form-gen1">
    <label for="foldername">Name:</label>
    <input type="text" name="foldername" id="foldername" required />
    <button type="submit">Add folder</button>
  </form>
  <button autofocus id="closeCreateFolderBtn">Close</button>
  <% } else { %>
  <p>Please login to create folders</p>
  <% } %> <%- include("errors.ejs") %>
</dialog>
