<header>
  <div class="header-wrap">
    <h1>Secret Message Board</h1>
    <div class="header-row-one">
      <ul class="nav_main">
        <li>
          <a href="/">Home</a>
          <a href="/sign-up">Sign up</a>
          <a href="/fileupload">File upload</a>
        </li>
      </ul>
      <div>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>
