<header>
  <div class="header-wrap">
    <h1>File uploader</h1>
    <div class="header-row-one">
      <ul class="nav_main">
        <li>
          <a href="/">Home</a>
          <a href="/fileupload">File upload</a>
        </li>
      </ul>
      <div>
        <button id="createFolderBtn">Create Folder</button>

        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</header>
