<p><%= message %></p>

<!-- Display status code if available -->
<% if (status) { %>
<p>Status: <%= status %></p>
<% } %> <%- include("partials/errors") %>

<!-- Link back to the last visited page or home page if not available -->
<a href="javascript:void(0);" onclick="goBack()">Back to Previous Page</a>

<script>
  function goBack() {
    if (document.referrer) {
      window.location.href = document.referrer;
    } else {
      window.location.href = "/"; // Fallback to home page
    }
  }
</script>
